<div id="{{ listName }}" class="dataList">
    <h3>{{ listName }}</h3> <!-- Output the list name as a heading -->

    <ul>
        {% for obj in objList %} <!-- Loop over each object in the objList array -->
            <li>{{ obj.name }}</li> <!-- Output the name property of the current object as a list item -->
        {% endfor %}
    </ul>
</div>



{% comment %}
This is an HTML template that outputs a list of objects in a specific format.
It contains a div element with an ID and class attribute, a heading element that
displays the name of the list, and an unordered list element that contains a
loop to iterate over each object in the objList array.
{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}Inside the loop, the template outputs {% endcomment %}
{% comment %}the name property of the current object as a {% endcomment %}
{% comment %}list item using the li element. The endfor statement {% endcomment %}
{% comment %}marks the end of the loop, and the ul element closes the unordered list.{% endcomment %}



